.container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
              0 3px 6px rgba(0,0,0,0.23);
}

.item {
  background: #FFF;
}

.font-normal {
  font-weight: normal;
}

.header {
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.btn-menu {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.menu-action {
  height: 50px;
}

.menu-items {
  height: 0px;
  padding: 0;
  overflow: hidden;
}
