@media screen and (min-width: 37.5em){
	.col-xmd-12 { width: 100%; }

	.col-xmd-11 { width: 91.666666666666666666666666666667%; }

	.col-xmd-10 { width: 83.333333333333333333333333333333%; }

	.col-xmd-9 { width: 75%; }

	.col-xmd-8 { width: 66.666666666666666666666666666667%; }

	.col-xmd-7 { width: 58.333333333333333333333333333333%; }

	.col-xmd-6 { width: 50%; }

	.col-xmd-5 { width: 41.666666666666666666666666666667%; }

	.col-xmd-4 { width: 33.333333333333333333333333333333%; }

	.col-xmd-3 { width: 25%; }

	.col-xmd-2 { width: 16.666666666666666666666666666667%; }

	.col-xmd-1 { width: 8.3333333333333333333333333333333%; }
}
