@media screen and (min-width: 75em) {
	/* Tecnica 4 display: flex; */
	/* Display Flex */
	.lg-flex {
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.lg-inline-flex {
		display: -ms-inline-flexbox;
		display: -webkit-inline-flex;
		display: flex;
	}

	/* Flex Direction */
	.lg-flex-row {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	.lg-flex-row-reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.lg-flex-column {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.lg-flex-column-reverse {
		-webkit-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse;
	}

	/* Flex Wrap */
	.lg-flex-no-wrap {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	.lg-flex-wrap {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.lg-flex-wrap-reverse {
		-webkit-flex-wrap: wrap-reverse;
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}

	/* Justify Content */
	.lg-jc-flex-start {
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.lg-jc-flex-end {
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	.lg-jc-center {
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
	.lg-jc-sp-around {
		-webkit-justify-content: space-around;
		-ms-flex-pack: justify;
		justify-content: space-around;
	}
	.lg-jc-sp-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: distribute;
		justify-content: space-between;
	}

	/* Align Item */
	.lg-ai-flex-start {
		-webkit-align-items: flex-start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	.lg-ai-flex-end {
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.lg-ai-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.lg-ai-baseline {
		-webkit-align-items: baseline;
		-ms-flex-align: baseline;
		align-items: baseline;
	}
	.lg-ai-stretch {
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;
	}

	/* Align Content */
	.lg-ac-flex-start {
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
	}
	.lg-ac-flex-end {
		-webkit-align-content: flex-end;
		-ms-flex-line-pack: end;
		align-content: flex-end;
	}
	.lg-ac-center {
		-webkit-align-content: center;
		-ms-flex-line-pack: center;
		align-content: center;
	}
	.lg-ac-sp-between {
		-webkit-align-content: space-between;
		-ms-flex-line-pack: justify;
		align-content: space-between;
	}
	.lg-ac-sp-around {
		-webkit-align-content: space-around;
		-ms-flex-flex-line-pack: distribute;
		align-content: space-around;
	}
	.lg-ac-stretch {
		-webkit-align-content: stretch;
		-ms-flex-line-pack: stretch;
		align-content: stretch;
	}

	/* Flex */
	.lg-flex-none {
		-ms-flex: none;
		-webkit-flex: none;
		flex: none;
	}
	.lg-flex-auto {
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}

	/* Align Self */
	.lg-as-flex-start {
		-webkit-align-self: flex-start;
		-ms-flex-item-align: start;
		align-self: flex-start;
	}
	.lg-as-flex-end {
		-webkit-align-self: flex-end;
		-ms-flex-item-align: end;
		align-self: flex-end;
	}
	.lg-as-center {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.lg-as-baseline {
		-webkit-align-self: baseline;
		-ms-flex-item-align:  baseline;
		align-self: baseline;
	}
	.lg-as-stretch {
		-webkit-align-self: stretch;
		-ms-flex-item-align: stretch;
		align-self: stretch;
	}
	.lg-as-auto {
		-webkit-align-self: auto;
		-ms-flex-item-align: auto;
		align-self: auto;
	}
}
