@media screen and (min-width: 20em){
	.col-xsm-12 { width: 100%; }

	.col-xsm-11 { width: 91.666666666666666666666666666667%; }

	.col-xsm-10 { width: 83.333333333333333333333333333333%; }

	.col-xsm-9 { width: 75%; }

	.col-xsm-8 { width: 66.666666666666666666666666666667%; }

	.col-xsm-7 { width: 58.333333333333333333333333333333%; }

	.col-xsm-6 { width: 50%; }

	.col-xsm-5 { width: 41.666666666666666666666666666667%; }

	.col-xsm-4 { width: 33.333333333333333333333333333333%; }

	.col-xsm-3 { width: 25%; }

	.col-xsm-2 { width: 16.666666666666666666666666666667%; }

	.col-xsm-1 { width: 8.3333333333333333333333333333333%; }
}
