/* Tecnica 4 display: flex; */
/* Display Flex */
.flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.inline-flex {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: flex;
}

/* Flex Direction */
.flex-row {
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
.flex-row-reverse {
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.flex-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.flex-column-reverse {
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

/* Flex Wrap */
.flex-no-wrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}
.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}
.flex-wrap-reverse {
	-webkit-flex-wrap: wrap-reverse;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

/* Justify Content */
.jc-flex-start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}
.jc-flex-end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.jc-center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.jc-sp-around {
	-webkit-justify-content: space-around;
	-ms-flex-pack: justify;
	justify-content: space-around;
}
.jc-sp-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: distribute;
	justify-content: space-between;
}

/* Align Item */
.ai-flex-start {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.ai-flex-end {
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.ai-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.ai-baseline {
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
}
.ai-stretch {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

/* Align Content */
.ac-flex-start {
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.ac-flex-end {
	-webkit-align-content: flex-end;
	-ms-flex-line-pack: end;
	align-content: flex-end;
}
.ac-center {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
}
.ac-sp-between {
	-webkit-align-content: space-between;
	-ms-flex-line-pack: justify;
	align-content: space-between;
}
.ac-sp-around {
	-webkit-align-content: space-around;
	-ms-flex-flex-line-pack: distribute;
	align-content: space-around;
}
.ac-stretch {
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}

/* Flex */
.flex-none {
	-ms-flex: none;
	-webkit-flex: none;
	flex: none;
}
.flex-auto {
	-ms-flex: auto;
	-webkit-flex: auto;
	flex: auto;
}

/* Align Self */
.as-flex-start {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.as-flex-end {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
}
.as-center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}
.as-baseline {
	-webkit-align-self: baseline;
	-ms-flex-item-align:  baseline;
	align-self: baseline;
}
.as-stretch {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}
.as-auto {
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
}
